@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

/* Reset */

* {
  margin:0;
  border: 0;
  outline: 0;
  font-weight: 300;
  box-sizing: border-box;
  
}

html, body, input, button, #root {
  min-height: 100%;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

/* 
  Gradiente feito com auxilio desse gerador online
  https://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28top\%2C\%20rgba\%2844\%2C181\%2C110\%2C1\%29\%200\%25\%2C\%20rgba\%2827\%2C228\%2C74\%2C1\%29\%20100\%25\%29\%3B' 
  
  */

body{
  
  background: rgba(44,181,110,1);
  background: -moz-linear-gradient(top, rgba(44,181,110,1) 0%, rgba(27,228,74,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,181,110,1)), color-stop(100%, rgba(27,228,74,1)));
  background: -webkit-linear-gradient(top, rgba(44,181,110,1) 0%, rgba(27,228,74,1) 100%);
  background: -o-linear-gradient(top, rgba(44,181,110,1) 0%, rgba(27,228,74,1) 100%);
  background: -ms-linear-gradient(top, rgba(44,181,110,1) 0%, rgba(27,228,74,1) 100%);
  background: linear-gradient(to bottom, rgba(44,181,110,1) 0%, rgba(27,228,74,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cb56e', endColorstr='#1be44a', GradientType=0 );
  -webkit-font-smoothing: antialiased !important
}

.container {
  margin: 10% auto;
  max-width: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}